<ion-header>
  <ion-navbar color="mainColor">
    <ion-title>
        <ion-icon ios="ios-contacts" md="md-contacts"></ion-icon>
        Мои контакты
    </ion-title>
   
    <ion-buttons start>
      <button ion-button icon-only (tap)="toggleAppTheme()">
         <ion-icon *ngIf="selectedTheme == 'light-theme'" class="modeIcon" ios="ios-moon" md="md-moon"></ion-icon>
         <ion-icon *ngIf="selectedTheme == 'dark-theme'" class="modeIcon" ios="ios-sunny" md="md-sunny"></ion-icon>
      </button>
    </ion-buttons>

  </ion-navbar>
</ion-header>

<ion-content>

  <ion-searchbar (ionInput)="getContacts($event)"
                 [(ngModel)]="searchQuery"
                 placeholder="Поиск"></ion-searchbar>

  <ion-refresher text-center (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-list>
      <ion-item-sliding #item *ngFor="let contact of contacts; let indx=index"
                               (click)="onSelectContact(contact)">
          
          <button ion-item>
              <ion-avatar item-start>
                <img src="{{contact.picture.large}}">
              </ion-avatar>
    
              {{ contact.name.first }}
          </button>
      
          <ion-item-options side="right">
            <button ion-button color="danger" (click)="deleteContact(indx)">
                <ion-icon ios="ios-trash" md="md-trash"></ion-icon>
                Удалить
            </button>
          </ion-item-options>

      </ion-item-sliding>        
  </ion-list>


</ion-content>
