.dark-theme {
    ion-content {
      background-color: map-get($night, contentBg);
      color: #fff;
    }
   
    .toolbar-title {
      color: #fff;
    }
   
    .header .toolbar-background {
      background-color: map-get($night, headeColor);
    }

    ion-list{
        ion-list-header{
            background-color: map-get($night, contentBg);
            color: map-get($colors, buttonColor);
        }
      button{
        background-color: map-get($night, contentBg);
        color: map-get($night, iconColor);
      }
    }

    label{
        color: map-get($night, buttonBg);
    }

    h2{
        color: map-get($night, iconColor);
    }

    h3{
        color: map-get($night, buttonBg);
    }
    ion-icon{
        color: map-get($night, iconColor);
    }
}  