.light-theme {
    ion-content {
        background-color: map-get($day, contentBg);
        color: #fff;
      }
     
      .toolbar-title {
        color: #fff;
      }
     
      .header .toolbar-background {
        background-color: map-get($day, headeColor);
      }
  
      label{
          color: map-get($day, buttonBg);
      }
  
      h2{
          color: map-get($day, iconColor);
      }
  
      h3{
          color: map-get($day, buttonBg);
      }
      
  }