page-contact-info {
    .avatar{
        padding-top: 10px;
        img{
            height: 110px;
            width: 110px;
            border: 1px solid #fff;
            border-radius: 50%;
            box-shadow: 0 0 15px gray;
            display: inline-block;
        }
    }
    .name{
        padding-top: 10px;
        .contactName{
            font-size: 1.4em;
        }
    }
    .info{
        padding-top: 40px;
        h2{
            font-size: 1.1em;
        }
    }
    hr{
        background-color: gray;
        color: gray;
    }
    
}
