<ion-header>
  <ion-navbar color="mainColor">
    <ion-title>
        Инфо о контакте
    </ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>

    <ion-row class="avatar">
        <ion-col text-center>
            <img src="{{contact.picture.large}}" #myImage (click)="onViewPhoto(myImage)">
        </ion-col>
    </ion-row>

    <ion-row class="name" text-center>
        <ion-col col-10 offset-1 text-center>
            <label class="contactName" text-wrap>{{contact.name.first}}</label>
        </ion-col>
    </ion-row>

    <ion-list class="info">
      <ion-list-header>
          КОНТАКТНАЯ ИНФОРМАЦИЯ
      </ion-list-header>
      
      <button ion-item (click)="callAndSmsActionSheet()">
        <ion-icon ios="ios-call" md="md-call" item-start></ion-icon>
        <h2>Телефон</h2>
        <h3>{{ contact.phone }}</h3>
      </button>
     
      <button ion-item (click)="sendEmail()">
        <ion-icon ios="ios-send" md="md-send" item-start></ion-icon>
        <h2>E-mail</h2>
        <h3>{{ contact.email }}</h3>
      </button>
    </ion-list><hr>

</ion-content>
